.linkButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;
	font-size: 1em;
	text-decoration: none;
	transition:
		color 0.3s,
		background-color 0.3s ease-out;
	background-color: var(--secondary-bg);
	padding: 0.5em 1em;
	border-radius: 0.5em;
	color: var(--primary-text);

	&:hover {
		cursor: pointer;
		background-color: var(--secondary-bg-hover);
	}

	&:active {
		background-color: var(--secondary-bg);
	}
}
