.gridItems {
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(var(--item-card-v-per-row), var(--item-card-v-width));
	gap: var(--item-card-v-gap);
}

@keyframes pulse {
	0% {
		background-color: #e0e0e0;
	}
	50% {
		background-color: #f0f0f0;
	}
	100% {
		background-color: #e0e0e0;
	}
}
